body {
  background: black;
  color: white;
  font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

$primary: #c5ac59;