form {
  padding: 2rem 1rem;
}

input[type="text"] {
  padding: 8px 15px 9px;
  border: 1px solid hsla(46,28%,59%,.7);
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: EB Garamond,Open Sans,sans-serif;
  min-width: 200px;
  margin-right: 10px;
  transition: all .25s ease-in-out;
  &:focus {
    outline-color: #b4a679;
    outline-width: 6px;
    outline-offset: 0px;
    transition: all .25s ease-in-out;
  }
}

button {
  border: 1px solid $primary;
  border-top: 2px solid $primary;
  border-bottom: 1px solid $primary;
  background-color: rgba(0,0,0,.5);
  padding: 2px;
  span {
    color: #000;
    background-color: #d9a73d;
    padding: 8px 15px 9px;
    border: 1px solid hsla(46,28%,59%,.7);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: EB Garamond,Open Sans,sans-serif;
    display: block;
  }

}
